*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial, sans-serif;
}

body{
background:#f4f6fb;
color:#333;
}

.banner{
display:flex;
width: 100%;
height: auto;
object-fit: cover;
-webkit-user-select: none;
-moz-user-select: none;
user-select: none
}

.banner h1{
font-size:40px;
}

.container{
max-width:1000px;
margin:auto;
padding:25px;
}

.intro{
background:white;
padding:20px;
margin-bottom:20px;
border-radius:10px;
box-shadow:0 2px 8px rgba(0,0,0,0.1);
}

table{
width:100%;
border-collapse:collapse;
background:white;
border-radius:10px;
overflow:hidden;
box-shadow:0 2px 8px rgba(0,0,0,0.1);
}

th{
background:#000000;
color:white;
padding:12px;
}

td{
padding:12px;
text-align:center;
border-bottom:1px solid #eee;
}

tr:hover{
background:#f1f7ff;
}
