*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial, sans-serif;
}

body{
background:#f4f6fb;
color:#333;
}

.banner{
display:flex;
width: 100%;
height: auto;
object-fit: cover;
-webkit-user-select: none;
-moz-user-select: none;
user-select: none
}

.banner h1{
font-size:42px;
}

.container{
max-width:1000px;
margin:auto;
padding:25px;
}

.intro{
background:white;
padding:20px;
border-radius:10px;
margin-bottom:20px;
box-shadow:0 3px 10px rgba(0,0,0,.1);
}

.time-card{
background:#ff163a;
color:white;
padding:20px;
border-radius:10px;
text-align:center;
margin-bottom:20px;
}

#clock{
font-size:26px;
margin-top:10px;
}

table{
width:100%;
border-collapse:collapse;
background:white;
border-radius:10px;
overflow:hidden;
box-shadow:0 3px 10px rgba(0,0,0,.1);
}

th{
background:#000000;
color:white;
padding:14px;
}

td{
padding:14px;
text-align:center;
border-bottom:1px solid #eee;
}

tr:hover td{
background:#f1f7ff;
}

footer{
text-align:center;
padding:20px;
color:#777;
margin-top:30px;
}
